{% extends 'base.html' %}

{% block content %}
<div class="jumbotron md index-header jumbotron_set jumbotron-cover">
  <div class="container wrap-jumbotron position-relative">
    <h2 class="title-site">About BetterTogether</h2>
  </div>
  </div>

<div class="container margin-bottom-40 padding-top-40">
  <div class="col-md-8 col-md-offset-2">
    <h3>Our Mission</h3>
    <p>BetterTogether empowers people to fund ideas and causes that matter. We make it simple to launch campaigns, reach supporters, and bring projects to life.</p>

    <h3>What We Offer</h3>
    <ul>
      <li>Modern, mobile-first campaign pages</li>
      <li>Secure payments</li>
      <li>Transparent progress and updates</li>
    </ul>
  </div>
</div>
{% endblock %}

