{% extends 'base.html' %}
{% block content %}
<div class="jumbotron md index-header jumbotron_set jumbotron-cover">
  <div class="container wrap-jumbotron position-relative">
    <h2 class="title-site">Campaign Guidelines</h2>
  </div>
</div>
<div class="container margin-bottom-40 padding-top-40">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Be honest and transparent.</li>
      <li>Provide accurate funding goals and deadlines.</li>
      <li>Keep supporters updated.</li>
    </ul>
  </div>
</div>
{% endblock %}

