{% extends 'base.html' %}
{% block content %}
<div class="jumbotron md index-header jumbotron_set jumbotron-cover">
  <div class="container wrap-jumbotron position-relative">
    <h2 class="title-site">Help Center</h2>
  </div>
</div>
<div class="container margin-bottom-40 padding-top-40">
  <div class="col-md-10 col-md-offset-1">
    <h4>Frequently Asked Questions</h4>
    <p>Find answers to common questions about creating campaigns, donating, and managing your account.</p>
  </div>
</div>
{% endblock %}

