{% extends 'base.html' %}
{% block content %}
<div class="jumbotron md index-header jumbotron_set jumbotron-cover">
  <div class="container wrap-jumbotron position-relative">
    <h2 class="title-site">Terms of Service</h2>
  </div>
</div>
<div class="container margin-bottom-40 padding-top-40">
  <div class="col-md-10 col-md-offset-1">
    <h4>1. Acceptance</h4>
    <p>By using BetterTogether, you agree to these terms.</p>
    <h4>2. Campaigns and Donations</h4>
    <p>Creators are responsible for their campaigns. Donations are voluntary and may be refundable at our discretion.</p>
  </div>
</div>
{% endblock %}

